
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
  }

  header {
    flex: 0 50px;
    text-align:center;
  }
  
  footer {
    flex: 0 30px;
  }
  
  main {
    flex: 1;
    align-items: center;
    text-align: center;
  }

  aside {
    width: fit-content;
    /* position: absolute; */
    text-align: left;
    right: 0;
    overflow: auto;
    margin: 0;
    padding: 0;
  }

  menu {
    list-style: none;
  }
  
  section .puzzle {
    margin-right: 20px;
    padding: 1px 16px;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

  @media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }
    aside {
        /* align-items: center; */
        /* justify-content: center; */
        /* position: fixed; */
        display: flex;
        /* width: 100%; */
    }
  }
  