 html {
    font-family: sans-serif;
 }
 
 body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
  }

  header {
    flex: 0 50px;
    text-align:center;
    background-color: rgb(42, 64, 137);
    color: white;
  }
  
  footer {
    flex: 0 30px;
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  aside {
    flex-basis: 200px;
    text-align: left;
    overflow: auto;
  }

  menu {
    list-style: none;
  }
  
  section {
    flex-grow: 1;
    margin-right: auto;
    margin-left: auto - 20px;
    padding: 1px 16px;
    justify-content: center;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

  @media (max-width: 600px) {

  }
  