 .body {
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
  }

  header {
    flex: 0 50px;
    text-align:center;
    background-color: rgb(42, 64, 137);
    color: white;
    font-family: sans-serif;
  }
  
  footer {
    flex: 0 130px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
  }

  aside {
    flex-basis: 200px;
    text-align: left;
    overflow: auto;
    background-color: rgb(42, 64, 137);
    color: white;
  }

  menu {
    list-style: none;
    padding: 20px;
    border-collapse: collapse;
    padding: 0px;
  }

  li {
    width: 200px;
    background-color: rgb(42, 64, 137);
  }
  
  section {
    flex-grow: 1;
    margin-right: auto;
    margin-left: auto;
    padding: 1px 16px;
    justify-content: center;
  }

  .centered {
    margin-left: auto;
    margin-right: auto;
  }

  menu a {
    width: 200px;
    padding-left: 10px;
    padding-right: 60px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
  }

  menu li:hover{
    background-color: azure;
    color: black;
  }

  menu a:hover{
    color: black;
  }

  #home, #score {
    padding-right: 140px;
  }

  #login {
    padding-right: 80px;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

  @media (max-width: 600px) {
    main {
      flex-direction: column;
    }

    menu a, #home, #score, #login {
      padding: 0;
    }
  
    #login {
      padding: auto;
    }

    menu a {
      text-align: center;
    }

    li {
      width: auto;
    }

    aside {
      text-align: center;
    }
    
  }
  