   .body {
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px !important;
    overflow-y:hidden;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  header {
    flex: 0 50px;
    text-align:center;
    background-color: rgb(42, 64, 137);
    color: white;
    font-family: sans-serif;
  }
  
  footer {
    flex-grow: 0;
    flex-basis: 10px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 0px;
  }

  aside {
    flex-basis: 220px;
    flex-grow: 0;
    text-align: left;
    margin-left: auto;
    overflow: auto;
    background-color: rgb(42, 64, 137);
    color: white;
  }

  #whitespace {
    background-color: white;
  }

  menu {
    list-style: none;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
  }


  li {
    width: 200px;
    background-color: rgb(42, 64, 137);
    color: white;
    text-decoration: none;
  }
  
  section {
    flex-grow: 1;
    margin-right: auto;
    margin-left: auto;
    padding: 1px 16px;
    justify-content: center;
  }

  .centered {
    margin-left: auto;
    margin-right: auto;
  }



  menu li:hover{
    background-color: azure;
    color: black;
  }

  #user:hover{
    background-color:rgb(42, 64, 137);
    color: white;
  }

  #home, #score {
    padding-right: 100px;
    text-decoration: none;
    color:white;
  }

  #login {
    padding-right: 80px;
    text-decoration: none;
    color: white;
  }

  #logout {
    padding-right: 80px;
    text-decoration: none;
    color: white;
  }

  #home:hover, #score:hover, #login:hover{
    color: black;
    background-color: white;
  }

  hr {
    margin-top: 0;
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }

  @media (max-width: 900px) {
    .content {
      flex-direction: column;
    }

    #whitespace{
      display: None;
    }

   #home, #score, #login, #logout {
      padding: 0;
    }
  
    #login {
      padding: auto;
    }

    menu{
      text-align: center;
    }

    li {
      width: auto;
    }

    aside {
      text-align: center;
      margin: 0;
    }
    
  }
  